[Mattias Hellborg Arthursson](https://jira.spring.io/secure/ViewProfile.jspa?name=marthursson) said:

From RFC 2252, section 4.2, it appears the server can choose whether to return SUP or SYNTAX, or both. In the case of Apache Directory Server 1.5.5 and Active Directory, these servers are friendly enough return both, even for attributes that in the RFC only have SUP.

I think that the proposed solution here is probably correct, and I would like to fix it. However I need to know what LDAP server is being used here so that I can properly fix it, since I don't have an LDAP server that doesn't return the SYNTAX to test against.


[Mattias Hellborg Arthursson](https://jira.spring.io/secure/ViewProfile.jspa?name=marthursson) said:

Now recursively trying parent's SYNTAX if it's missing on an AttributeDefinition.
