["Mattias Hellborg Arthursson":https://jira.spring.io/secure/ViewProfile.jspa?name=marthursson] said:

I must admit that I haven't read RFC 4514. Our DistinguishedName implementation is based on RFC 2253. Without having gone too deeply into the details, I agree with the interpretation you're making of RFC 4514 and the consequences thereof. The default for Spring LDAP should be to generate strings without the additional spaces, and if we were doing it from scratch now this would probably be the case.

However, I have yet to encounter an LDAP server that does not recognize DNs containing the "decorative" spaces that Spring LDAP generates, and changing the default risks breaking applications relying on the current formatting. Thus I'm very hesitant to change the default at this stage.


["Brian Curnow":https://jira.spring.io/secure/ViewProfile.jspa?name=bcurnow] said:

RFC 2253 is an older RFC (December 1997), RFC 4514 (June 2006) obsoletes 2253.

Even based on RFC 2253 the current implementation is incorrect since RFC 2253 states in section 4:

"The syntax given in this document is more restrictive than the syntax in RFC 1779.  Implementations parsing a string generated by an LDAPv2 client MUST accept the syntax of RFC 1779.  Implementations MUST NOT, however, generate any of the RFC 1779 encodings which are not described above in section 2."

Section 2 states:

"The encodings of adjoining RelativeDistinguishedNames are separated by a comma character (',' ASCII 44)."

So either way, you're not complying with the relevant RFCs.

Can we add a property or some other configuration parameter that would instruct spring-ldap to be RFC compliant? This is currently causing us problems since we have a client which expects DNs to conform to the RFC and they are being written to our directory with the added space.


["Mattias Hellborg Arthursson":https://jira.spring.io/secure/ViewProfile.jspa?name=marthursson] said:

Right, thanks for the clarification. According to RFC 4514 then (the superseding one) we are actually in compliance, since it is stating that we SHOULD not generate any other format (rather than the more restrictive wording in 2253)  :P.

Nevertheless, I don't think we should get lost in semantics here: I do agree that the RFCs (except for the original, 1779) seem to recommend using the compact representation. How to go about it is another question. I guess we could add a check for a system property setting to change the default. Feels like kind of a hack though, so I'm not too happy about it. Could you please clarify: what's stopping you from using the new COMPACT representation explicitly?


["Ulrik Sandberg":https://jira.spring.io/secure/ViewProfile.jspa?name=ulsa] said:

I wish that the situation was the reverse: that the default already was COMPACT and that it was possible to get a nicer format. By the way, NON_COMPACT is not a great name. I named it, but it should probably be called READABLE or VERBOSE or something.

Anyway, the big question is how big impact it would be to change the default. We really should be compact, no doubt, but can we suffer the pain of a somewhat weird way of reaching that? What if we just switched the default, leaning on the RFC wording, documented it clearly as a breaking change, released, and waited for the explosions?


["Brian Curnow":https://jira.spring.io/secure/ViewProfile.jspa?name=bcurnow] said:

Other than the fact that 1.2.2 hasn't been released yet? I guess there is nothing keeping us from changing to that method.

Just to be clear, the word SHOULD in an RFC context has a very specific meaning (defined in RFC 2119) so this is a very semantic conversation.

However, if you're unwilling to make the change I guess I can live with that.

If you were to add some sort of system property or other configuration, I'd prefer to see it default to the standard representation. With 1.2.2 there's an alternative to toString that doesn't perform URL encoding so we'll download a nightly and give that a try.


["Ulrik Sandberg":https://jira.spring.io/secure/ViewProfile.jspa?name=ulsa] said:

It might also be argued that the purpose of @toString@ is to provide "a concise but informative representation that is easy for a person to read." So, there is no requirement that the string produced by @toString@ is RFC-compliant as such. However, in addition to a @toString@, there should be a method that always provides a consistent normalized format. The name @normalize@ springs to mind.

bc.. 
dn.toString() -> cn=John Doe, ou=Accounting, ou=West, dc=example, dc=com
dn.normalize() -> cn=John Doe,ou=Accounting,ou=West,dc=example,dc=com

p. 


["Brian Curnow":https://jira.spring.io/secure/ViewProfile.jspa?name=bcurnow] said:

I agree with Ulrik. There's no reason why the toString method should be RFC compliant, however, in version 1.2.1 that was the only method that would generate a string representation without URL encoding, hence this issue.

If a method is added like normalize (or perhaps toCompactString ;->) that should take care of my problem.

Any idea when 1.2.2 will be released?


["Mattias Hellborg Arthursson":https://jira.spring.io/secure/ViewProfile.jspa?name=marthursson] said:

@toCompactString@ is now present in @DistinguishedName@.
